version: '3.9'

services:
  frontend:
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    container_name: opentrivia-frontend
    ports:
      - '3000:80'
    restart: unless-stopped